node_modules
.venv
dist
build
*.lock
pnpm-lock.yaml
package-lock.json
yarn.lock
.git
.next
out
.DS_Store
*.egg-info
__pycache__
.pytest_cache
.ipynb_checkpoints
*.ipynb
etl/data/raw
etl/data/processed
